//- =====================================================
//- src/views/partials/footer.pug
//- =====================================================
mixin footer(options)
    - options = options || {}
    - var showVersion = options.showVersion !== false
    - var showEnv = options.showEnv || false
    - var showLinks = options.showLinks !== false

    footer.footer(role="contentinfo")
        .footer__left
            span.footer__copyright
                | © #{year} #{app.name}

            if showVersion
                span.footer__version
                    | v#{app.version || "dev"}

            if showEnv && env
                span.footer__env(class=`env--${env}`)
                    | #{env}

        if showLinks
            .footer__right
                ul.footer__links
                    li
                        a(href="/imprint") Impressum
                    li
                        a(href="/privacy") Datenschutz
                    li
                        a(href="/status") Systemstatus
